# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.github/
# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints
requirements.txt
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
data/
*.csv
*.md
*.ipynb_checkpoints/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/
